div.sofia_wrapper,
div.person_wrapper {
    width: 50px;
}

.col-sm-5 {
    border-right: 1px solid var(--grey);
}

.sofia_container,
.container_active_person {
    background-color: var(--background-grey);
}

i {
    color: var(--grey);
}

.sofia_name {
    font-weight: 500;
}

.notify_container {
    background-color: var(--background-notify);
}

.fa-bell-slash {
    color: var(--background-notify);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.notify_bottom_text,
.text_person {
    font-size: 12px;
    color: var(--grey);
}

.notify_top_text {
    font-size: 13px;
    font-weight: 700;
}

.input_search {
    background-color: var(--background-grey);
}

input.search_input {
    border: none;
}

input.search_input {
    height: 30px;
}

input.search_input::placeholder {
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
    padding-left: 10px;
}

.container_person {
    overflow-y: scroll;
}

.border_person {
    border-top: 1px solid var(--background-grey);
}

.border_person:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.person_name,
.name_active_person {
    font-weight: 600;
}

.height_input {
    height: 40px;
    padding-left: 10px;
}

.container_input_message i {
    font-size: 20px;
}

.container_input_message {
    background-color: var(--background-beige);
}

.container_message {
    background-image: url(/img/mine.jpg);
    background-size: 50%;
    overflow-y: scroll;
}