div.sofia_wrapper,
div.person_wrapper {
    width: 50px;
}

.col-sm-5 {
    border-right: 1px solid var(--grey);
}

.sofia_container,
.container_active_person {
    background-color: var(--background-grey);
}

i {
    color: var(--grey);
}

.sofia_name {
    font-weight: 500;
}

.notify_container {
    background-color: var(--background-notify);
}

.fa-bell-slash {
    color: var(--background-notify);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.notify_bottom_text,
.text_person {
    font-size: 12px;
    color: var(--grey);
}

.notify_top_text {
    font-size: 13px;
    font-weight: 700;
}

.input_search {
    background-color: var(--background-grey);
}

input.search_input {
    border: none;
}

input.search_input {
    height: 30px;
}

input.search_input::placeholder {
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
    padding-left: 10px;
}

.border_person {
    border-top: 1px solid var(--background-grey);
}

.border_person:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.person_name,
.name_active_person {
    font-weight: 600;
}

.height_input {
    height: 40px;
    padding-left: 10px;
}

.container_input_message i {
    font-size: 20px;
}

.container_input_message {
    background-color: var(--background-beige);
}

.container_messages {
    background-image: url(/img/mine.jpg);
    background-size: 50%;
}

.container_message {
    position: relative;
}

.container_message>span {
    font-size: 12px;
    position: absolute;
    right: 3%;
    bottom: 5%;
    color: var(--grey);
}

.container_message .fa-chevron-down {
    font-size: 20px;
    position: absolute;
    right: 3%;
    top: 10%;
    color: var(--grey);
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
}

.container_message .fa-chevron-down:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.delete_message {
    z-index: 1;
    font-size: 12px;
    position: absolute;
    right: 3%;
    top: 50%;
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.delete_message>p:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.delete_message>p:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.delete_message>p:last-child {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}